/* -------------------
Common Properties
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	transition: all 1s ease;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.headline-title {
	font-weight: bold;
	font-size: 2rem;
	line-height: 80px;
	color: #fff;
}

.click-btn {
	width: 168px;
	height: 44px;
	background: #e02c6d;
	color: #fff;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.click-btn:hover {
	color: darkblue;
	background: turquoise;
	transform: scale(1.2);
}

.info {
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	color: #818080;
}

/* -------------------
Common Properties
-----------------------*/

.banner {
	/* display: flex; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	background: rgb(4, 4, 156);
	align-items: center;
	/* justify-content: center; */
}

.first-container {
	margin: 240px 156px;
}
.headline-title h1 {
	font-weight: bold;
	font-size: 64px;
	line-height: 80px;
}
.banner .main-img {
	width: 556.01px;
	height: 438px;
	/* margin-right: 130px; */
	animation: animate 2s ease-in-out infinite alternate-reverse both;
}

/*  Image animation */
@keyframes animate {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

/* ---------------------------
		Player Galary Section 
		------------------------------*/

.player-gallary {
	margin: 70px 140px;
	width: 80%;
}
.players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.player {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 330px;
	align-items: center;
}

.player .player-image {
	width: 300px;
	height: 256px;
	margin: 15px;
	overflow: hidden;
}

.player .player-image:hover {
	transform: scale(1.1);
	border-radius: 5%;
	width: 250px;
	height: 200px;
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.player .player-details {
	margin: 16px;
}
.player .player-details h3 {
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
}

/* ------------------------
	Highlights
---------------------------*/

.highlights {
	display: flex;
	margin: 70px 150px;
	padding: 1rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.highlight-info {
	width: 469px;
}

.all-highlights .highlights img {
	width: 567px;
	height: 427px;
	margin: 10px;
}

.all-highlights .highlights h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
}

.highlight-info button {
	margin-top: 20px;
}

/* -------------------
		fan club
	------------------- */

.slideshow {
	margin: 70px 140px;
	width: 80%;
}
.slideshow h2 {
	font-size: 2.5rem;
	font-weight: bolder;
	margin-bottom: 1rem;
}
.slideshow .slide-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.slideshow .slide-container img {
	width: 300px;
	height: 300px;
}

.slideshow .slide-container .slides {
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
}
.slideshow .slide-container .slides .slide {
	margin: 0 1rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	overflow: hidden;
}
.slideshow .slide-container .slides .slide:hover {
	transform: scale(1.1);
}

.slideshow .slide-container .load-btn {
	margin: 2rem 0;
}

.slideshow .slide-container .slide .artist-name {
	margin: 0.5rem;
	text-align: left;
	font-size: 16px;
	color: rgb(148, 147, 147);
}
.slideshow .slide-container .slide .artist-name a {
	text-decoration: none;
	color: indianred;
}
.sign-up {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.newsletter form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
form input {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
}
.form h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	margin: 2rem;
	color: rgb(65, 64, 64);
}
::placeholder {
	font-size: 1rem;
}
video {
	height: 500px;
	width: 600px;
	margin: 3rem;
}

/* -----------
Footer Section 
--------------*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer img {
	width: 400px;
	height: 100px;
}
.footer .social-site {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.footer .social-site .fab {
	display: flex;
	background: rgb(228, 227, 227);
	color: grey;
	border-radius: 50%;
	font-size: 1rem;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer .social-site .fab:hover {
	color: rgb(228, 227, 227);
	background: grey;
	transform: rotate(360deg);
}

.footer p {
	margin-top: 20px;
	text-align: center;
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
	.banner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
	}
	.players {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.all-highlights .highlights img {
		width: 300px;
		height: 248px;
	}
}

@media only screen and (max-width: 688px) {
	.banner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.first-container img {
		margin-top: -20px;
	}
	.player-gallary {
		width: 100%;
	}
	.headline-title h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.click-btn {
		width: 168px;
		height: 44px;
	}
	.banner .main-img {
		width: 329px;
		height: 259.17px;
	}
	.players,
	.highlights {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
	}
	.highlight-info {
		width: 329px;
		height: 299px;
	}
	.info {
		font-size: 12px;
		line-height: 20px;
	}

	.all-highlights .highlights h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.all-highlights .highlights img {
		width: 300px;
		height: 248px;
	}
	.slide-container .slide .artist-name {
		display: none;
	}
}
